.card-wrapper {
  margin: 5% 0;
}

.nav-item-large {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 10vw; /* note i used vw not px for better responsive */
  height: 10vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 2.1px;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 32px;
  line-height: initial;
}

.dropzone {
  border-style: dashed !important;
}

.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: red;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td,
#classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: yellow;
}

.navbar-nav .dropdown-item {
  color: black;
  transition: color 0.3s;
}

.navbar-nav .dropdown-item:hover {
  color: yellow;
}
