{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre application de reconnaissance faciale des stars !</h1>
    <p class="lead text-justify">Notre application utilise des techniques d'apprentissage automatique avancées pour
        reconnaître les
        stars dans différentes catégories, y compris le football, l'athlétisme, le sport de combat, l'éducation, le
        cinéma, l'informatique et la mode. En utilisant une combinaison de modèles pré-entraînés et de techniques de
        traitement d'images, notre application est capable d'identifier avec précision une variété de personnalités
        célèbres. Que vous soyez un fan de sport cherchant à identifier votre joueur préféré, ou un passionné de cinéma
        essayant de nommer un acteur, notre application est là pour vous aider.</p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Pourquoi utiliser notre application ?</h1>
    <p class="lead text-justify">Notre application se distingue par son utilisation de modèles de pointe pour fournir
        des résultats
        précis et rapides. Nous utilisons une combinaison de réseaux de neurones convolutifs (CNN) et d'autres
        techniques d'apprentissage profond pour assurer une précision maximale. De plus, notre application est conçue
        pour être facile à utiliser, avec une interface utilisateur intuitive et des instructions claires. Que vous
        soyez un expert en technologie ou un novice en matière d'apprentissage automatique, vous trouverez notre
        application accessible et utile. Alors, pourquoi attendre ? Essayez notre application de reconnaissance faciale
        des stars dès aujourd'hui et découvrez la puissance de l'apprentissage automatique !</p>
</div>

{% endblock %}