{% extends "layout.html" %}
{% block title %}Sports de combat{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="container">
            <h2 class="display-4 text-center">Catégorie Sport de Combat </h2>
        </div>
    </div>
    <div class="row"> 
        <!--div class="col card-wrapper" data-player="ndam">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{{url_for('static',filename='images/ndam.jpg')}}"
                        alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Hassan NDAM NJIKAM</h4>
                    </p>
                </div>
            </div>
    </div-->
        <div class="col card-wrapper" data-player="ndoumbe">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{{url_for('static',filename='images/ndoumbe.jpg')}}"
                        alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Cedric NDOUMBE</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="col card-wrapper" data-player="ngannou">
            <div class="card border-0">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{{url_for('static',filename='images/ngannou.jpg')}}"
                        alt="Card image cap">
                </div>
                <div class="card-body text-center mt-4">
                    <h4 class="text-uppercase card-title">Françis NGANNOU</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-12 mx-auto">
                    <form action="/file-upload" class="dropzone" id="dropzone">
                        <div class="dz-message needsclick">
                            <img src="./images/upload.png" width="50vw" height="50vw"><br>
                            <span class="note needsclick">Cliquez ici ou déposez les fichiers directement</span>
                        </div>
                        <!-- Ajout d'un champ de type hidden pour envoyer une chaîne de caractères -->
                        <input type="hidden" name="model_name" id="model_name" value="sport_combat">
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3 mx-auto">
                    <button id="submitBtn" type="button" class="btn btn-success">Prédire</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8 error" id="error">
            <p>Impossible de classifier l'image. Les classificateurs n'ont pas pu détecter correctement le visage et les deux yeux.</p>
        </div>

        <div class="col-sm-4" id="resultHolder">
        </div>
        <div class="col-sm-4" id="divClassTable">
            <table id="classTable">
                <tr>
                    <th>Combatant(te)</th>
                    <th>Probablité (%) (SVM)</th>
                    <!--th>Probablité (%) (CNN)</th-->
                </tr> 
                <!--tr>
                    <td>Hassan NDAM NJIKAM</td>
                    <td id="svm_score_ndam"></td>
                    <td id="dl_score_ndam"></td>
            </tr-->
                <tr>
                    <td>Cédric Ndoumbe</td>
                    <td id="svm_score_ndoumbe"></td>
                    <!--td id="dl_score_ndoumbe"></td-->
                </tr>
                <tr>
                    <td>Françis Ngannou</td>
                    <td id="svm_score_ngannou"></td>
                    <!--td id="dl_score_ngannou"></td-->
                </tr>
            </table>
        </div>

    </div>

</div>
{% endblock %}
